* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: "Roboto", sans-serif;
  --black: #3b434e;
  --gray-light: #aeaeae;
  --gray: #a4a4a4;
  --gray-dark: #787d85;
  --white: #faf6f6;
  --primary: #140342;
  --primary-hover: #08011a;
  --red: #fc836d;
  --red-light: #d18476;
  --green: #1dc37e;
  --green-light: #c8f8e4;
}

body {
  font-family: var(--font-family);
  background-color: #f8f8f8;
}
#nprogress .bar {
  background-color: blue !important;
  height: 2px !important;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}
